/* main styles */
.blog-option #upcoming-match {
    background-color: #31932d;
    color: #fff;
}

.blog a {
    text-decoration: none;
    color: black;
}


.flag {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}

.flag img {
    width: 30%;
}

.match-title {
    font-size: 20px;
    text-align: center;
}

.match-time {
    font-size: 12px;
    text-align: center;
    color: gray;
}

.blog-content {
    height: 180px;
}

.view-all {
    display: none;
}

/* Responsive CSS */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .view-all {
        display: block;
    }
}